@import '_nomalize'
@import '../../client.src/_modal.styl'
.nojsModal
  nojsModal(auto, 80vh)
.gallery
  overflow hidden
  &-inner
    float left
    display block
  &-link
    display block
  &-img
    width 200px
